
:root {
    --header-color:#f5f5f5;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#999;
    --orange-color:#f36d00;
    --border-color:#dbdbdb;
    --star-color-gold: #ffce3d;
    --primary-color:#ee4d2d;


    --header-height:120px;
    --navbar-height:26px;
    --header-with-search-height:calc(var(--header-height)- var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.grid-padding_80{
    padding:0 80px ;
}

.padding-left_280{
    padding-left: 280px;
}

.grid-margin_80{
    margin: 0 80px;
}

.margin-top_10{
    margin-top: 10px;
}

.h2_heading{
    padding: 22px 18px;
    color: #999;
    font-weight: 400;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right:5px;
    width: 16.6666%;
}

.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--white{
    background-color: var(--white-color);
}


@keyframes fadeIn{
    from{
        opacity: 0.2;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade{
    form{
        opacity: .6;
    }
    to{
        opacity: 1;
    }
}

/*modal*/

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

.modal__body{
    --growth-from:0.7;
    --gorwth-to:1;
    position: relative;
    margin: auto;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
    display: none;
} 

.modal__body--active{
    display: block;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: #333;
}

/* button style */
.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    color: #333;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.1);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding:0 8px;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--white{
    background-color: var(--white-color);
}


.auth-form__socials-icon{
    font-size: 1.8rem;
}


/* selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4 rem;
    color: rgb(131,131,131);
}

.select-input__list{
    position:absolute;
    left: 0;
    right: 0;
    top:35px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
}

.select-input__item{
    
}

.select-input__link{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 0px;
}

.select-input__link:hover{
    color: var(--primary-color);
}

.select-input:hover .select-input__list{
    display: block;
}
