*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

body{

    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

body > div{
   margin: auto;
}

/* Block */

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border:none;
    border-color: #ffffff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .2s linear;
}

.btn:hover{
    opacity: 0.8;
}

.btn + .btn{
    margin-left: 100px;
}

.btn--success{
    background-color:#71be34 ;
}

.btn--warn{
    background-color:#ffb702 ;
}

.btn--danger{
    background-color: #ff623d;
}

.btn--disable{
    opacity: 0.4 !important;
    cursor: default;
}

/* .TOAST MESSAGE */

.toast{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 20px 0px;
    min-width: 400px;
    max-width: 500px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
    /* transform: translateX(calc(100% + 32px)); */
    transition:all linear 0.3s;
}

@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

.toast--success{
    border-color:#47d764 ;
}

.toast--success .toast__icon{
    color: #47d764;
}

.toast--infor{
    border-color:#2f86eb ;
}

.toast--infor .toast__icon{
    color:#2f86eb ;
}

.toast--warn{
    border-color:#ffc021 ;
}

.toast--warn .toast__icon{
    color: #ffc021;
}

.toast--error{
    border-color:#e63a2d ;
}

.toast--error .toast__icon{
    color: #e63a2d;
}

.toast__icon,.toast__close{
    padding: 0 16px;
}

.toast__icon{
    font-size: 26px;
}

.toast__body{
    flex-grow: 1;
}

.toast__title{
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.toast__msg{
    font-size: 14px;
    color: #888;
    margin-top: 5px;
    line-height: 1.4;
}

.toast__close{
    color: rgba(0,0,0,0.5);
    font-size: 20px;
    cursor: pointer;
}

.toast + .toast{
    margin-top: 24px;
}

#toast{
    position: fixed;
    top:32px;
    right:32px ;
}